<section class="contact-main-container">

  <div class="contact-block-container">
    <div class="contact-name">
      <h2>Taylor Munnerlyn</h2>
    </div>

    <div class="contact-container2" contact-directive>
      <h2>Email</h2>
      <h3>taylormunnerlyn@gmail.com</h3>
    </div>

    <div class="contact-container3" contact-directive>
      <h2>LinkedIn</h2>
      <h3>https://www.linkedin.com/in/taylormunnerlyn</h3>
    </div>
  </div>

  <div class="contact-footer-container">
      <footer class="footer">
      <button ui-sref="home" class="skills-home-button" button-directive>T.M.</button>
      <button ui-sref="portfolio" class="skills-portfolio-button" button-directive>Portfolio</button>
      <button ui-sref="skills" class="skills-skills-button" button-directive>Skills</button>
      <button ui-sref="about" class="skills-about-button" button-directive>About</button>
      <button ui-sref="contact" button-directive>Contact</button>
    </footer>
  </div>


</section>
