
<section class="easter-container">
  <img src="http://i.giphy.com/CzQ9Kl1UIt8hG.gif" />
  <img src="http://i.giphy.com/mjo3HtlPnEuNq.gif" />
  <img src="http://i.giphy.com/122pLlowwMS5aM.gif" />
  <img  class="flying" src="http://i.giphy.com/wxZVenBE9msRq.gif" />
  <img  class="poop" src="http://i.giphy.com/FFBYIJghrfa12.gif" />
</section>

<audio controls autoplay>
  <source class='player' src="./music/09 Track 09.m4a" type="audio/mpeg">
</audio>


<div class="contact-footer-container">
    <footer class="footer">
    <button ui-sref="home" class="skills-home-button" button-directive>T.M.</button>
    <button ui-sref="portfolio" class="skills-portfolio-button" button-directive>Portfolio</button>
    <button ui-sref="skills" class="skills-skills-button" button-directive>Skills</button>
    <button ui-sref="about" class="skills-about-button" button-directive>About</button>
    <button ui-sref="contact" button-directive>Contact</button>
  </footer>
</div>
