<section class="home-background-container">
    <!-- <div class="home-logo-container"> -->
      <h1 ui-sref="portfolio" button-directive>T.M.</h1>
    <!-- </div> -->


  <div class="home-lower-container">
    <div class="home-button-container">
        <button ui-sref="home" class="home-home-button" button-directive>T.M.</button>
        <button ui-sref="portfolio" class="home-portfolio-button" button-directive>Portfolio</button>
        <button ui-sref="skills" class="home-skills-button" button-directive>Skills</button>
        <button ui-sref="about" class="home-about-button" button-directive>About</button>
        <button ui-sref="contact" class="home-contact" button-directive>Contact</button>
    </div>
  </div>
</section>
