<section class="home-background-container">
    <!-- <div class="home-logo-container"> -->
      <h1>T.M.</h1>
    <!-- </div> -->


  <div class="home-lower-container">
    <div class="home-button-container">
      <!-- <div class="home-header-left"> -->
        <button ui-sref="skills" class="home-skills-button" button-directive>Skills</button>
      <!-- </div> -->

      <!-- <div class="home-header-right"> -->
        <button ui-sref="portfolio" class="home-portfolio-button" button-directive>Portfolio</button>
      <!-- </div> -->

      <!-- <div class="home-footer-left"> -->
        <button ui-sref="about" class="home-about-button" button-directive>About</button>
      <!-- </div> -->

      <!-- <div class="home-footer-right"> -->
        <button ui-sref="contact" class="home-contact" button-directive>Contact</button>
      <!-- </div> -->
    </div>
  </div>
</section>
