<section class="portfolio-main-container">

  <div class="portfolio-div-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>



  <div class="portfolio-footer-container">
      <footer class="footer">
      <button ui-sref="home" class="portfolio-home-button" button-directive>T.M.</button>
      <button ui-sref="skills" class="portfolio-skills-button" button-directive>Skills</button>
      <button ui-sref="portfolio" class="portfolio-portfolio-button" button-directive>Portfolio</button>
      <button ui-sref="about" class="portfolio-about-button" button-directive>About</button>
      <button ui-sref="contact">Contact</button>
    </footer>
  </div>
    

</section>
