<section class="portfolio-main-container">

  <div class="portfolio-div-container">
    <div portfolio-directive><h2>Coming Soon</h2></div>
    <div portfolio-directive><h2>Promo Cue</h2></div>
    <div portfolio-directive><h2>Coming Soon</h2></div>
    <div portfolio-directive><h2>Coming Soon</h2></div>
    <div portfolio-directive><h2 class="hi">Twitter Clone</h2></div>
    <div portfolio-directive><h2>Coming Soon</h2></div>
  </div>



  <div class="portfolio-footer-container">
    <footer class="footer">
      <button ui-sref="home" class="skills-home-button" button-directive>T.M.</button>
      <button ui-sref="portfolio" class="skills-portfolio-button" button-directive>Portfolio</button>
      <button ui-sref="skills" class="skills-skills-button" button-directive>Skills</button>
      <button ui-sref="about" class="skills-about-button" button-directive>About</button>
      <button ui-sref="contact" button-directive>Contact</button>
    </footer>
  </div>


</section>
