<section class="skills-main-container">

  <!-- <div class="skills-h2-container">
      <h2>Skills</h2>
  </div> -->

  <div class="skills-svg-container">

    <div class="html-container">
      <img src="images/HTML5-400H.svg" alt="html5 logo" />
      <p>
        html5
      </p>
    </div>

    <div class="css-container">
      <img src="images/CSS3-400H.svg" alt="css logo" />
      <p>
        css3
      </p>
    </div>

    <div class="js-container">
      <img src="images/JS-400H.svg" alt="javascript logo" />
      <p>
        javascript
      </p>
    </div>

    <div class="jquery-container">
      <img src="images/JQueryLogo-400H.svg" alt="jquery logo" />
      <p>
        jquery
      </p>
    </div>

    <div class="angular-container">
      <img src="images/Angular-400H.svg" alt="angular logo" />
      <p>
        angular
      </p>
    </div>

    <div class="git-container">
      <img src="images/Git-400H.svg" alt="git logo" />
      <p>
        git
      </p>
    </div>


  </div>

  <footer class="footer">
    <button ui-sref="home" class="skills-home-button" button-directive>T.M.</button>
    <button ui-sref="skills" class="skills-skills-button" button-directive>Skills</button>
    <button ui-sref="portfolio" class="skills-portfolio-button" button-directive>Portfolio</button>
    <button ui-sref="about" class="skills-about-button" button-directive>About</button>
    <button ui-sref="contact" button-directive>Contact</button>
  </footer>

</section>
